* {
    margin: 0;
    padding: 0;
    margin: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(7, 7, 7);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 35%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "header header header header header header"
        "navbar navbar navbar navbar navbar navbar"
        "section section section section section section"
        "articles articles articles articles articles articles"
        "aside aside aside aside aside aside"
        "footer footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "navbar navbar navbar"
        "section section aside"
        "articles articles aside"
        "footer footer footer";
    background-color: rgb(24, 22, 22);
    border: rgb(24, 22, 22) solid 0.5rem;
}
.header {
    grid-area: header;
    background-color: rgb(49, 102, 201);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    grid-area: navbar;
    background-color: rgb(35, 163, 157);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    grid-area: section;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles {
    grid-area: articles;
    background-color: rgb(214, 106, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside {
    grid-area: aside;
    background-color: rgb(231, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.footer {
    grid-area: footer;
    background-color: rgb(49, 102, 201);    
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-h1{
    transform: rotate(90deg);
}
@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header"
        "navbar"
        "section"
        "articles"
        "footer";
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "header header header header header header"
        "navbar navbar navbar navbar navbar navbar"
        "section section section section section section"
        "articles articles articles articles articles articles"
        "aside aside aside aside aside aside"
        "footer footer footer footer footer footer";
    }
    .right-side-h1{
        transform: rotate(0deg);
    }
    
}


    


